# Timeout in seconds that Limine will use before automatically booting.
TIMEOUT=5

# The entry name that will be displayed in the boot menu.
:Kitty OS
    # We use the Limine boot protocol.
    PROTOCOL=limine

    MODULE_PATH=boot:///autorun.ico
    MODULE_CMDLINE=autorun_ico

    MODULE_PATH=boot:///registry/kernel/SysInfo.kr
    MODULE_CMDLINE=RegistrySysInfo

    # Path to the kernel to boot. boot:/// represents the partition on which limine.cfg is located.
    KERNEL_PATH=boot:///kernel
